$diesize: 57px;
$dotsize: 5px;

//Colors
$slate: #444;
$drkgrey: #222;
$lightgrey: #ddd;
$grey: #ccc;
$blue: #129ff8;
$green: #00a816;
$red: #c64141;
$white: #fff;
$black: #000;
$bluegreen: #588c8e;
$bold: 700;

//Device Sizes
$mobile: 550px;
$sml-tablet: 750px;